html, body {
	margin: 0;
	padding: 0;
	width: 80%;
	height: 100%;
	margin: auto;
	margin-top: 1%;

}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0;
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block;
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
}

.left_block {
	display: block;
	float: left;
}

.right_block {
	display: block;
	float: right;
}

.center_block {
	display: block;
	width: auto;
}

.block_2 {
	width: 100%;
	height: 226px;
	background-color: #999999;
}

.background.info {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 50%;
	background-color: #9966ff;
}

.info {
	height: auto;
	width: 50%;
	padding-bottom: 0px;
}

.background.svg_map {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 50%;
	background-color: #996699;
}

.svg_map {
	height: auto;
	width: 50%;
	padding-bottom: 0px;
}

.block_6 {
	width: 100%;
	height: 311px;
	background-color: #996666;
}

.background.graph_1_1 {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 50%;
	background-color: #6699ff;
}

.graph_1_1 {
	height: auto;
	width: 50%;
	padding-bottom: 0px;
}

.background.graph_1_2 {
	height: auto !important;
	padding-bottom: 0;
	right: 0;
	width: 50%;
	background-color: #669999;
}

.graph_1_2 {
	height: auto;
	width: 50%;
	padding-bottom: 0px;
}