@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.wd-workshop {
	background: #2b2b2b;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.wd-workshop:before,
.wd-workshop:after {
	content: '';
	display: block;
	height: 1px;
	left: 50%;
	margin: 0 0 0 -250px;
	position: absolute;
	width: 500px;
}

.wd-workshop:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 225px;
}

.wd-workshop:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);
	top: 224px;
}

.wd-workshop form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin: 50px 0 0 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.wd-workshop input {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Press Start 2P', cursive;
	font-size: 8px;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .wd-workshop input {
	line-height: 40px;
}

.wd-workshop input::-webkit-input-placeholder {
   color: #888;
}

.wd-workshop input:-moz-placeholder {
   color: #888;
}

.wd-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #2b2b2b;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.wd-workshop input:focus::-webkit-input-placeholder {
	color: #efe;
}

.wd-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.wd-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Press Start 2P', cursive;
	font-size: 8px;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}

.wd-workshop button:hover,
.wd-workshop button:focus {
	background: #2b2b2b;
	background: linear-gradient(#393939, #2b2b2b);
	color: #5f5;
	outline: none;
}

.wd-workshop button:active {
	background: #2b2b2b;
	background: linear-gradient(#393939, #2b2b2b);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}
